<center>
<form action="/salva" method="post">
  <div class="card">
	  <div class="card-body">
			<input type="text" name="user" class="form-control" placeholder="Seu nome...">
		   <br>
	    <input type="text" name="nome" class="form-control" placeholder="Título do artigo...">
			 <br>
			<textarea name="conteudoA" class="form-control" placeholder="Conteudo do artigo..."></textarea>
	     <br>
			<button type="submit" class="btn btn-sucess">Salvar Artigo</button>
			<br>
		</div>
	</div>
</form>
	<br>
	<a href="/"><button class="btn btn-sucess">Cancelar Artigo</button>
</center>