<center>
<div class="card">
	<div class="card-body">
		<h2>{{tmp}}</h2>
		<br>
		<h2>Por: {{Usuario}}</h2>
		<br>
		<h2>{{titulo}}</h2>
    <p>{{texto}}</p>
		<br>
		<a href="/"><button class="btn btn-sucess">Voltar</button></a>
	</div>
</div>
</center>